# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# C/C++
*.out
*.exe
*.o

# Environment
.venv/

# Dataset
data/
datasets/

# Model
*.pt
*.pth
*.ckpt

# Logs
logs/
runs/

# Temporary
*.tmp
*.log

# build
build/

# system
.DS_Store
Thumbs.db
